li{
    list-style-type: none;
  }
  .listItem-1{
    height: 90vh;
  }
  .listItem-inner-1:hover{
    background-color: #F5F5F5;
  }
  .listItem-inner-1:hover, .listItem-inner-2:hover{
    background-color: #F5F5F5;
    cursor: pointer;
  }
  .listItem-2{
    background-color: #ffececa6;
    height: 90vh;
  }
  .listItem-3{
    background-color: #ffececa6;
    height: 90vh;
  }
  .btn-sort:hover{
    background-color: #FDFDFD;
    cursor: pointer;
  }
  
  .dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown.active .dropdown-content {display: block;}